<div class="Main-body">
    <div class="MainContainer">
      <div class="forgotpassword-container">
        <div class="head"> 
            <div class="form-logo">
                <span  style="color: #4169e1;">F</span>
                <span  style="color: #d52b2b;">u</span>
                <span  style="color: #ff8c00;">n</span>
                <span  style="color: #4169e1;">d</span>
                <span  style="color: #008000;">o</span>
                <span  style="color: #d52b2b;">N</span>
                <span  style="color: #ff8c00;">o</span>
                <span  style="color: #4169e1;">t</span>
                <span  style="color: #008000;">e</span>
            </div>
            <div class="header-text">
                <h1 >Forgot Password</h1>
            </div>
            <div class="header-text-2">
                <h4 style="margin-bottom: 10px;" >Please enter your email address to get Reset password link to your mail.</h4>
            </div>
        </div>

        <form class="form-Email" [formGroup]="ForgotPassForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="Email">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label class="form-label">Enter Email Address</mat-label>
                        <input type="email" class="form-input" class="form-input" matInput placeholder="" formControlName="Email">
                        <mat-error>Please provide Email Address</mat-error>
                      </mat-form-field>
                </div>
            </div>  
          <section class="form-btn">  
            <div>
              <button mat-stroked-button color="primary" routerLink="/login">Skip</button>
            </div>
            <div >
              <button mat-raised-button color="primary" style="width: 108px; padding: 0px;">Send Link</button>
            </div>
          </section>
        </form>
    </div>

    </div>
      <div class="footer">
              <div class="footer-dropdown">
                <mat-form-field appearance="legacy">
                  <mat-label></mat-label>
                  <mat-select [(value)]="selectedLang">
                    <mat-option></mat-option>
                    <mat-option [value]="option.value" *ngFor="let option of Language">{{ option.viewValue }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div >
                  <a class="footer-link" mat-button href="https://support.google.com/accounts?hl=en#topic=3382296" >Help</a>
                  <a class="footer-link"  mat-button href="https://policies.google.com/privacy?gl=IN&hl=en" >Privacy</a>
                  <a class="footer-link" mat-button href="https://policies.google.com/terms?gl=IN&hl=en">Terms</a>
              </div>
      </div>
  </div>
  
  